In [1]:
import pandas as pd
from pymongo import MongoClient

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
client = MongoClient()
db = client['nfl']
clean_player = db['clean_player_rm_1']

In [3]:
df = pd.DataFrame(list(clean_player.find({},{'_id':0})))

In [4]:
df.head()

,position,year,player_url,player,team,age,pos,g,gs,targets,...,rec_yds_per_rec,rec_td,rec_first_down,rec_long,rec_yds_per_tgt,rec_per_g,rec_yds_per_g,fumbles,heigh,weight
0,receiving,2005,/players/F/FitzLa00.htm,Larry Fitzgerald*,ARI,22,WR,16,16,165,...,13.7,10,68,47,8.5,6.4,88.1,0,6-3,218lb
1,receiving,2005,/players/S/SmitSt01.htm,Steve Smith*+,CAR,26,WR,16,16,150,...,15.2,12,72,80,10.4,6.4,97.7,2,5-9,195lb
2,receiving,2005,/players/B/BoldAn00.htm,Anquan Boldin,ARI,25,WR,14,14,171,...,13.7,7,69,54,8.2,7.3,100.1,2,6-1,220lb
3,receiving,2005,/players/H/HoltTo00.htm,Torry Holt*,STL,29,WR,14,14,163,...,13.0,9,63,44,8.2,7.3,95.1,2,6-0,200lb
4,receiving,2005,/players/J/JohnCh01.htm,Chad Johnson *+,CIN,27,WR,16,16,155,...,14.8,9,74,70,9.2,6.1,89.5,1,6-1,188lb

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1277 entries, 0 to 1276
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   position         1277 non-null   object
 1   year             1277 non-null   int64
 2   player_url       1277 non-null   object
 3   player           1277 non-null   object
 4   team             1277 non-null   object
 5   age              1277 non-null   object
 6   pos              1277 non-null   object
 7   g                1277 non-null   object
 8   gs               1277 non-null   object
 9   targets          1277 non-null   object
 10  rec              1277 non-null   object
 11  catch_pct        1277 non-null   object
 12  rec_yds          1277 non-null   object
 13  rec_yds_per_rec  1277 non-null   object
 14  rec_td           1277 non-null   object
 15  rec_first_down   1277 non-null   object
 16  rec_long         1277 non-null   object
 17  rec_yds_per_tgt  1277 non-null   object
 18  rec_per_g        1277 non-null   object
 19  rec_yds_per_g    1277 non-null   object
 20  fumbles          1277 non-null   object
 21  heigh            1277 non-null   object
 22  weight           1277 non-null   object
dtypes: int64(1), object(22)
memory usage: 229.6+ KB